In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive

In [3]:
drive.mount('/content/drive')
df = pd.read_csv('/content/drive/MyDrive/Data/Rotas.csv', low_memory=False, sep=';', encoding='UTF-8')

Mounted at /content/drive

In [4]:
df_cl = pd.read_csv('/content/drive/MyDrive/Data/Clientes.csv', low_memory=False, sep=';', encoding='UTF-8')

In [5]:
df_fa = pd.read_csv('/content/drive/MyDrive/Data/Fabricas.csv', low_memory=False, sep=';', encoding='UTF-8')

In [ ]:
df.head(2)

,Dt.Fat,Dt.Entrega,Mes.Base,Ano.Exec,CO.Fabrica,CO.Cliente,Tp.Operacao,Incoterm,Veiculo,Qtd.Transp,Moeda,Vlr.Frete
0,44200,44209,Jan,2021,3423909,2303,VD,CIF,P12,1800,BRL,6000
1,44210,44218,Jan,2021,3403208,2302,VD,FOB,P12,1600,BRL,0

In [ ]:
df_cl.head(2)

   CO.Cliente       MUN      LAT     LONG
0        2301  VALINHOS  2295188  4702779
1        2302  CAMPINAS  2289429  4705822

In [ ]:
df['CO.Cliente'].value_counts()

In [7]:
df_fa.head(2)

   CO.Fabrica      NO_MUN  NO_MUN_MIN SG_UF
0     3423909         ITU         Itu    SP
1     3403208  ARARAQUARA  Araraquara    SP

In [8]:
df_m = pd.merge(df, df_cl, how = 'outer', on = 'CO.Cliente')

In [9]:
df_m.head(5)

,Dt.Fat,Dt.Entrega,Mes.Base,Ano.Exec,CO.Fabrica,CO.Cliente,Tp.Operacao,Incoterm,Veiculo,Qtd.Transp,Moeda,Vlr.Frete,MUN,LAT,LONG
0,44200,44209,Jan,2021,3423909,2303,VD,CIF,P12,1800,BRL,6000,CAMPINAS,2292634,4703974
1,44212,44214,Jan,2021,3403208,2303,VD,FOB,P12,1800,BRL,0,CAMPINAS,2292634,4703974
2,44214,44222,Jan,2021,3423909,2303,VD,FOB,P12,1600,BRL,0,CAMPINAS,2292634,4703974
3,44215,44219,Jan,2021,3423909,2303,VD,FOB,P12,1800,BRL,0,CAMPINAS,2292634,4703974
4,44217,44228,Jan,2021,3403208,2303,VD,FOB,P12,1200,BRL,0,CAMPINAS,2292634,4703974

In [ ]:
df_fa['CO.Fabrica'] = df_fa['CO.Fabrica'].astype('str')

In [ ]:
df_fa.info()

In [ ]:
df_fi = pd.merge(df_m, df_fa, how = 'outer', on = 'CO.Fabrica')

In [ ]:
df_fi.head()

In [10]:
df.groupby("Ano.Exec").size()

Ano.Exec
19           2
20           1
2019         7
2020         9
2021    119973
21           2
????         2
dtype: int64

In [ ]:
df_fi.head()

,Dt.Fat,Dt.Entrega,Mes.Base,Ano.Exec,CO.Fabrica,CO.Cliente,Tp.Operacao,Incoterm,Veiculo,Qtd.Transp,Moeda,Vlr.Frete,MUN,LAT,LONG,NO_MUN,NO_MUN_MIN,SG_UF
0,44200,44209,Jan,2021,3423909,2303,VD,CIF,P12,1800,BRL,6000,CAMPINAS,2292634,4703974,ITU,Itu,SP
1,44214,44222,Jan,2021,3423909,2303,VD,FOB,P12,1600,BRL,0,CAMPINAS,2292634,4703974,ITU,Itu,SP
2,44215,44219,Jan,2021,3423909,2303,VD,FOB,P12,1800,BRL,0,CAMPINAS,2292634,4703974,ITU,Itu,SP
3,44205,44205,Jan,2021,3423909,2303,VD,FOB,P12,1200,BRL,0,CAMPINAS,2292634,4703974,ITU,Itu,SP
4,44210,44219,Jan,2021,3423909,2303,VD,FOB,P12,1200,BRL,0,CAMPINAS,2292634,4703974,ITU,Itu,SP

In [ ]:
df_fi.to_excel('Dados_dash.xlsx', index=False)

In [ ]:

lista_valida = ['2019', '2020', '2021']
valores_invalidos = [valor for valor in df['Ano.Exec'] if valor not in lista_valida]
# Mostra os valores inválidos na tela
if valores_invalidos:
    print("Os seguintes valores não são válidos: {', '.join(valores_invalidos)}")
else:
    print('Todos os valores da coluna estão na lista válida.')

Os seguintes valores não são válidos: {', '.join(valores_invalidos)}

In [ ]:
# Cria um novo DataFrame apenas com os valores inválidos
df_erros = df.loc[df['Ano.Exec'].isin(valores_invalidos)]

# Exporta o DataFrame de erros para um arquivo Excel separado
df_erros.to_excel('Erros_Ano.xlsx', index=False)

In [ ]:
df_fi.groupby("Mes.Base").size()

Mes.Base
11         2
4          2
5          1
Abr     9022
Ago    10295
Dez     3905
Fev     9205
Jan    10494
Jul     9064
Jun     9688
Mai     9937
Mar    10125
Nov    12899
Out    13260
Set    12101
dtype: int64

In [ ]:

lista_valida = ['Jan', 'Fev', 'Mar','Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
valores_invalidos = [valor for valor in df['Mes.Base'] if valor not in lista_valida]
# Mostra os valores inválidos na tela
if valores_invalidos:
    print(f"Os seguintes valores não são válidos: {', '.join(valores_invalidos)}")
else:
    print('Todos os valores da coluna estão na lista válida.')

# Cria um novo DataFrame apenas com os valores inválidos
df_erros = df.loc[df['Mes.Base'].isin(valores_invalidos)]

# Exporta o DataFrame de erros para um arquivo Excel separado
df_erros.to_excel('erros_meses.xlsx', index=False)

Os seguintes valores não são válidos: 4, 4, 5, 11, 11

In [ ]:
# Soma dos valores encontrados na planilha 
df_fi.groupby("CO.Fabrica").size()

In [ ]:
#Exportação dos erros da planilha
if pd.to_numeric(df['CO.Fabrica'], errors='coerce').notnull().all():
    print('Todos os valores são numéricos.')
else:
    print('Existem valores não numéricos na coluna.')

#Cria um novo DataFrame apenas com os valores inválidos
df_erros = df.loc[df['CO.Fabrica'].isin(valores_invalidos)]

# Exporta o DataFrame de erros para um arquivo Excel separado
df_erros.to_excel('erros_fabricas.xlsx', index=False)

Existem valores não numéricos na coluna.

In [ ]:
df.groupby("CO.Cliente").size()

In [ ]:
#Inconsistencias_na_moeda
df_fi.groupby("Moeda").size()

Moeda
???         3
BR          2
BRL    119992
dtype: int64

In [ ]:
#Analise_das_datas_de_faturamento_e_entrega
df['Result'] = df['Dt.Fat'] .sub (df['Dt.Entrega'])

print(df[['Dt.Fat', 'Dt.Entrega', 'Result']])

df_negativo = df[df['Result'] < 0]

# Exporta as linhas filtradas em um arquivo Excel
df_negativo.to_excel('resultados_negativos.xlsx', index=False)

        Dt.Fat  Dt.Entrega  Result
0        44200       44209      -9
1        44210       44218      -8
2        44211       44210       1
3        44211       44216      -5
4        44212       44219      -7
...        ...         ...     ...
119995   44537       44540      -3
119996   44537       44542      -5
119997   44536       44546     -10
119998   44545       44545       0
119999   44544       44546      -2

[120000 rows x 3 columns]

In [12]:
import math

In [13]:
def haversine(lat1, lon1, lat2, lon2):
    """
    Função que calcula a distância entre dois pontos geográficos em uma esfera (como a Terra)
    usando a fórmula de Haversine.
    """
    R = 6371  # raio da Terra em km
    dLat = math.radians(lat2 - lat1)
    dLon = math.radians(lon2 - lon1)
    lat1 = math.radians(lat1)
    lat2 = math.radians(lat2)

    a = math.sin(dLat/2)**2 + math.cos(lat1)*math.cos(lat2)*math.sin(dLon/2)**2
    c = 2*math.atan2(math.sqrt(a), math.sqrt(1-a))

    distance = R*c
    return distance

In [14]:
lat1, lon1 = -23.22861, -45.99833
lat2, lon2 = -23.22299, -45.90595

# calculando a distância entre São Paulo e Rio de Janeiro usando a função haversine
dist_km = haversine(lat1, lon1, lat2, lon2)

print("Distância entre jacareí a São Jose dos Campos(Carreffour) : {:.2f} km".format(dist_km))

Distância entre jacareí a São Jose dos Campos(Carreffour) : 9.46 km